body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    padding-top: 100px;
}

h1 {
    color: #333;
}

p {
    color: #555;
    font-size: 18px;
}
